<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PfsenseVoucherMgr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <PfsenseVoucherMgr.Properties.Settings>
            <setting name="charDelimiter" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="strConnectionString" serializeAs="String">
                <value>Data Source=computername\sqlexpress;Initial Catalog=GuestVoucher;Integrated Security=True</value>
            </setting>
        </PfsenseVoucherMgr.Properties.Settings>
    </userSettings>
</configuration>
